@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap");

/* :root {
  background-color: aquamarine;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 600;
  font-size: 18px;
  color: #3498db;
  border-bottom: 1px solid #f1efef;
  padding: 10px 0px;
  margin-bottom: 30px;
}

.qr-image {
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* height: 150px;
  width: 150px; */
  /* margin-bottom: 30px; */
}

.input-label {
  display: block;
  margin-bottom: 8px;
  color: #3498db;
  font-size: 15px;
  font-weight: 500;
}

input[type="text"] {
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #3498db;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}

button {
  padding: 15px 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generate {
  background-color: #3498db;
}
.generate:disabled {
  background-color: #c8c8c8;
  cursor: not-allowed;
}

.download {
  background-color: #21ae60;
}
.download:hover {
  background-color: #219a52;
}

.footer {
  margin-top: 30px;
}
.footer > a {
  text-decoration: none;
  color: #3498db;
}
